@import "../../style/variable.scss";
.PassengerDB {
  width: 100%;
  padding: 0;
  position: relative;
  @include mobile {
    padding: 1rem 0 0;
  }
  .PassengerDB__wrapper {
    width: 100%;
    .Tabcontrollers {
      @include tablet {
        width: 30%;
      }
    }
    .PassengerDB__content {
      margin-top: 4rem;
      display: flex;
      width: 100%;
      margin: 0 auto;
      .tab__container {
        width: 100% !important;
        padding-top: 3rem;
        @include tablet {
          margin-left: 10px !important;
          width: 100%;
          padding-top: 5rem !important;
        }
      }
    }
  }
}
