@import '../../style/variable.scss';
.PassengerDB{
    width: 100%;
    padding: 1rem 0 2rem;
    position: relative;
    .PassengerDB__wrapper{
        width: 100%;
        .Tabcontrollers{
            @include tablet{
                width: 30%;
            }
        }
        .PassengerDB__content{
            margin-top: 4rem;
            display: flex;
            width: 100%;
            margin: 0 auto;
            .tab__container{
                width: 100% !important;
                margin: 5rem 0rem 2rem;
                @media screen and (min-width: 768px) {
                    width: 100%;
                    margin: 5rem 1rem 2rem;
                }
            }
            
        }
        
    }
}
