@import "../../../style/variable.scss";
.Order {
  width: 95%;
  display: flex;
  padding: 1rem;
  .order__wrapper {
    width: 100%;
    .title {
      width: 100%;
    }
    .p-text {
      font-weight: 500;
      width: 100%;
      font-size: $font-14;
    }
    .content__wrapper {
      align-items: center;
      @include mobile {
        flex-direction: column;
      }
    }
    .input__container {
      display: flex;
      margin-top: 2rem;
      width: auto;
      justify-content: center;
      @include mobile {
        flex-direction: column;
      }
      .select__input {
        position: relative;
        top: 0;
        margin: 0.3rem 0;
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        .ant-space-item {
          @include mobile {
            width: 90px;
          }
        }
        @include tablet {
          margin: 0.3rem 1rem 0 0;
        }
        .p-text {
          width: 40%;
          font-size: $font-14;
        }
        .ant-select {
          width: 100%;
        }
      }
    }
    a {
      padding: 0.45rem 1rem;
      margin-top: 1.7rem;
      border: 2px groove #d1d1d1c4;
      border-radius: 5px;
      font-size: $font-14;
      cursor: pointer;
      @include tablet {
        margin-top: 3.7rem;
      }
    }
  }
}
