@import '../../../style/variable.scss';
.Myridebox{
    width: 100%;
    .ride{
        background-color: #f3f3f3;
        justify-content: space-between;
        flex-direction: column;
        margin: .5rem 0;
        padding: 1rem .1rem;
        border-radius: 10px;
        font-size: 12px;
        .left__box{
            width: 100%;
            .svg svg{
                font-size: 16px;
                width: 10%;
            }
            .p-text{
                font-size: 12px;
            }
            .left__con{
                margin-top: .5rem;
                justify-content: space-between;
            }
        }
        .right__box{
            width: 100%;
            margin-top: 0.7rem;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            .p-text{
                font-size: 12px;
                width: 50%;
            }
            .status{
                width: 30%;
                padding: .5rem;
                background-color: $secondaryColor;
                color: $whiteColor;
                border-radius: 10px;
            }
            .price{
                width: 50%;
                font-size: 20px;
            }
        }
    }
}