@import "../../../style/variable.scss";
.Myridebox {
  width: 100%;
  .ride {
    background-color: #f3f3f3;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 1rem 0.5rem;
    border-radius: 10px;
    font-size: 12px;
    .left__box {
      width: 60%;
      margin-left: -5px;
      @include tablet {
        width: 50%;
        .svg svg {
          font-size: 16px;
          width: 10%;
          margin-left: -11px;
        }
      }
      .svg svg {
        font-size: 16px;
        width: 10%;
      }
      .p-text {
        font-size: 12px;

        @include tablet {
          font-size: 16px;
        }
      }
      .left__con {
        margin-top: 1rem;
        justify-content: space-between;
      }
    }
    .right__box {
      width: 30%;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      .p-text {
        font-size: 12px;
        width: 100%;
        text-align: center;
        @include tablet {
          font-size: 1rem;
        }
      }
      .status {
        width: 100%;
        padding: 0.4rem 0.5rem;
        background-color: $secondaryColor;
        color: $whiteColor;
        border-radius: 10px;
        @include tablet {
          margin-top: 0.5rem;
          width: 50%;
        }
      }
      .price {
        font-size: 20px;
        margin-top: 0.5rem;
      }
    }
  }
}
