@import "../../../../style/variable.scss";
.BookingActivities {
  width: 100%;
  padding: 1rem;
  height: auto;
  background-color: $asheColor;
  border-radius: 10px;
  @include mobile {
    width: 160%;
  }
  .col__title {
    justify-content: space-between;
    .p-text {
      @include tablet {
        font-weight: 700;
        font-size: $font-16;
      }
    }

    .col-3 {
      text-align: center;
    }
  }
  .col-1 {
    width: 35%;
  }
  .col-2 {
    width: 35%;
    text-align: center;
    align-self: center;
  }
  .col-3 {
    width: 10%;
    text-align: center;
  }
  .col-4 {
    width: 15%;
    text-align: center;
  }
  .booking__box {
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0.3rem;
    margin-top: 0.5rem;
    .p-text {
      font-size: 12px;
      font-weight: 500;
      @include tablet {
        font-size: $font-16;
      }
    }
    .col-1 {
      display: flex;
      align-items: center;
    }
    .img__con {
      width: 40px;
      margin-right: 15px;
      height: 40px;
      border-radius: 50%;
      @include tablet {
        height: 60px;
        width: 60px;
      }
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}
