@import "../../style/variable.scss";
.form_login {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 50px;
  @include tablet {
    margin-top: 10px;
  }
  width: 100%;
  .input_group {
    flex-direction: column;
    width: 100%;
    @include tablet {
      width: 100%;
      margin-top: 15px;
    }
  }
  .sign__in {
    display: flex;
    justify-content: flex-start;
    button {
      width: 50%;
      margin: 0;
      margin-top: 3rem;
      @include tablet {
        padding: 10px;
        width: 90%;
        margin-top: 2rem;
      }
    }
    @include tablet {
      width: 30%;
    }
  }
}
