@import "../../../style/variable.scss";

.signupbanner__con {
  width: 100%;
  height: calc(100vh - 70px);
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.52),
      rgba(0, 0, 0, 0.73)
    ),
    url("../../../asset/image/openDoor.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  flex-direction: column;
  .btn__con {
    width: 70%;
    margin-top: 20px;
    @include tablet {
      width: 20%;
    }
  }
}
