@import "../../../../style/variable.scss";
.privacy-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  .top-section {
    width: 100%;
    height: 500px;
    position: relative;
    .img-con {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.473);
    }
  }
  .content-section {
    width: 70%;
    padding: 1rem 4rem;
    position: relative;
    top: -4rem;
    z-index: 100;
    background-color: #fff;
    border-radius: 5px;
    @include mobile {
      width: 90%;
      padding: 1rem;
    }
    .section-title {
      text-align: center;
      margin: 1.5rem 0;
    }
    .content {
      width: 100%;
      padding: 20px;
    }
    .content-text {
      line-height: 1.5;
      margin-top: 1rem;
      font-size: 18px;
      @include mobile {
        font-size: 16px;
      }
    }
  }
}
