@import '../../../../style/variable.scss';
.Vehicle__wrapper{
    width: 100%;
    margin-top: 1.5rem;
    .top__container{
        justify-content: space-between;
        .small-title{
            font-weight: 700;
            font-size: $font-16;
        }
        .add__driver{
            background-color: transparent;
            border: none;
            font-weight: 700;
            color: $secondaryColor;
            font-size: $font-16;
        }
    }
    .scroll__container{
        width: 100%;
        overflow: scroll;
        @include tablet{
            overflow: hidden;
        }
        .col-1{
            width: 160px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space:nowrap;
            
            @include tablet{
                width: 30%;
            }
        }
        .col-2{
            width: 35%;
            margin-left: 0.5rem;
        }
        .col-3{
            width: 30%;
            text-overflow: ellipsis;
            @include tablet{
                width: 30%;
            }
        }
        .title__container{
            margin-top: 0.5rem;
            width: 100%;
            padding: .7rem;
            border-radius: 10px;
        }
        .data__container{
            margin-top: 1rem;
            width: 100%;
            .box{
                padding: .5rem;
                border-bottom: 1px solid $lightAshe;
                padding: .7rem;
                margin: .3rem;
                .col-1.p-text{
                    color: $secondaryColor;
                }
                .p-text{
                    font-size: $font-14;
                    font-weight: 500;
                }
                .success{
                    background-color: $secondaryColor;
                    border-radius: 5px;
                    text-align: center;
                    padding: .4rem 1rem;
                    color: #fff;
                }
                .reject{
                    background-color: red;
                    border-radius: 5px;
                    text-align: center;
                    padding: .4rem 1rem;
                    color: #fff;
                }
            }
        }
    }
}