@import "../../../../style/variable.scss";
.Vehicle__wrapper {
  width: 100%;
  margin-top: 1.5rem;
  .top__container {
    justify-content: space-between;
    .small-title {
      font-weight: 700;
      font-size: $font-14;
    }
    .add__driver {
      background-color: transparent;
      border: none;
      font-weight: 700;
      color: $secondaryColor;
      font-size: $font-16;
    }
  }
  .scroll__container {
    width: 100%;
    overflow: scroll;
    padding: 0.5rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    @include tablet {
      overflow: hidden;
    }
    .col-1 {
      width: 170px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: flex;
      justify-content: center;
      align-items: center;

      @include tablet {
        width: 30%;
      }
    }
    .col-2 {
      width: 25%;
      margin-left: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .col-3 {
      width: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
      @include tablet {
        width: 30%;
      }
    }
    .title__container {
      margin-top: 0.5rem;
      width: 120%;
      padding: 0.7rem;
      border-radius: 10px;
      @include tablet {
        width: 100%;
      }
    }
    .data__container {
      margin-top: 1rem;
      width: 120%;
      @include tablet {
        width: 100%;
      }
      .box {
        padding: 0.5rem;
        border-bottom: 1px solid $lightAshe;
        padding: 0.7rem;
        margin: 0.3rem;
        .col-1.p-text {
          color: $secondaryColor;
        }
        .p-text {
          font-size: $font-14;
          font-weight: 500;
        }
        .success {
          background-color: $secondaryColor;
          border-radius: 5px;
          text-align: center;
          padding: 0.4rem 1rem;
          color: #fff;
        }
        .reject {
          background-color: red;
          border-radius: 5px;
          text-align: center;
          padding: 0.4rem 1rem;
          color: #fff;
        }
      }
    }
  }
}
