@import "../../../style/variable.scss";
.FleetDriver {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  .title {
    @include tablet {
      font-weight: 700;
    }
  }
  .p-text {
    font-weight: 500;
    @include tablet {
      font-size: 14px;
    }
  }
  .user__img-info {
    display: flex;
    margin-top: 1rem;
    align-items: center;
    gap: 10px;
    .user__img {
      height: 120px;
      img {
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .user__info {
      .name {
        font-weight: 900;
        font-size: $font-20;
        @include tablet {
          font-size: $font-16;
        }
      }
      .p-text {
        background-color: $secondaryColor;
        padding: 0.5rem;
        border-radius: 10px;
        text-align: center;
        font-weight: 500;
        margin-top: 0.5rem;
        font-size: $font-14;
        color: $whiteColor;
      }
    }
  }
  .personal__details {
    margin-top: 3rem;
    @include tablet {
      margin-top: 2rem;
    }
    .details__con {
      margin-top: 1rem;
      .box {
        display: flex;
        margin: 0.5rem 0;
        border-bottom: 1px solid rgb(199, 199, 199);

        padding: 0.5rem;
      }
    }
  }
  .company__container {
    .small-title {
      font-size: $font-18;
      font-weight: 700;
      margin-top: 1.5rem;
      padding: 0.5rem 0;
      border-bottom: 1px solid rgb(199, 199, 199);
    }
    .p-text {
      color: $secondaryColor;
      margin-top: 0.5rem;
      font-size: $font-14;
      cursor: pointer;
    }
  }
}
