@import "../../../style/variable.scss";
.Profile {
  width: 95%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  .title {
    width: 100%;
    @include tablet {
      font-weight: 700;
    }
  }
  .p-text {
    width: 100%;
    font-weight: 500;
    font-size: $font-14;
    @include tablet {
      font-size: 14px;
    }
  }
  .user__img-info {
    display: flex;
    margin-top: 1rem;
    align-items: center;
    gap: 10px;
    .user__img {
      width: 120px;
      height: 120px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .user__info {
      .name {
        font-weight: 700;
        font-size: $font-16;
      }
      .p-text {
        background-color: $secondaryColor;
        padding: 0.5rem;
        width: 100px;
        border-radius: 10px;
        text-align: center;
        font-weight: 500;
        margin-top: 0.5rem;
        color: $whiteColor;
        @include tablet {
          width: 90px;
        }
      }
    }
  }
  .personal__details {
    width: 95%;
    margin-top: 3rem;
    @include tablet {
      width: 70%;
      margin-top: 2rem;
    }
    .small-title {
      font-size: $font-16;
      font-weight: 700;
      @include tablet {
        font-size: 500;
      }
    }
    .details__con {
      width: 100%;
      margin-top: 1rem;
      .box {
        display: flex;
        margin: 0.5rem 0;
        .personal-title {
          width: 37%;
          font-size: $font-14;
        }
        .p-text {
          width: 63%;
          font-weight: 300;
          font-size: $font-14;
        }
      }
    }
  }
}
