@import "../../style/variable.scss";
.input__con {
  width: 100%;
  border: #f3f3f3;
  border-radius: 5px;
  height: 45px;
  background-color: #fff;
  margin-top: 15px;
  align-items: center;
  padding-left: 10px;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0.2rem;
  i {
    margin-right: 5px;
  }
  input {
    border: none;
    height: 100%;
    width: 100%;
    padding: 2px 5px;
    background-color: #fff;
    &:focus {
      outline: none;
      background-color: #fff;
    }
  }
}
