@import "../../style/variable.scss";
.form__user {
  position: absolute;
  top: 10.5rem;
  left: 0;
  margin-top: 30px;
  width: 70%;
  z-index: 20;
  margin-left: 2rem;
  @include tablet {
    width: 50%;
    left: 30%;
    transform: translateX(-30%);
    .form-sm {
      font-size: calc(12px + 6 * ((100vw - 320px) / 680));
      font-size: 16px;
    }
    .form-sub-title {
      margin-top: 0.5rem;
    }
  }
  .control__container {
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-left: 5px;
    @include tablet {
      gap: 10px;
      margin-top: 0.3rem;
    }
    a {
      padding-left: 5px;
      @include tablet {
        font-size: calc(6px + 6 * ((100vw - 320px) / 680));
      }
    }
  }
  .not_have_account {
    font-size: calc(12px + 6 * ((100vw - 320px) / 680));
    font-weight: 400;
    padding-left: 5px;
    margin-top: 0.5rem;
    @include tablet {
      margin-top: 0.5rem;
      font-size: calc(6px + 6 * ((100vw - 320px) / 680));
    }
    .link {
      margin-left: 5px;
    }
  }
  .link {
    cursor: pointer;
    color: $secondaryColor;
    font-size: calc(12px + 6 * ((100vw - 320px) / 680));
    @include tablet {
      font-size: calc(6px + 6 * ((100vw - 320px) / 680));
    }
  }
}
