@import "../../style/variable.scss";
.form__user {
  position: absolute;
  top: 10.5rem;
  left: 0;
  margin-top: 30px;
  width: 70%;
  z-index: 20;
  margin-left: 2rem;
  @include tablet {
    .form-sm {
      font-size: 16px;
    }
    .form-sub-title {
      margin-top: 0.5rem;
    }
    width: 40%;
    margin-left: 10rem;
  }
  .control__container {
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 4px;
    @include tablet {
      gap: 10px;
    }
    a {
      font-size: 14px;
      padding-left: 5px;
    }
    .role {
      cursor: pointer;
      color: blue;
    }
  }
}
