@import "../../style/variable.scss";
.form__user {
  position: absolute;
  top: 10.5rem;
  left: 0;
  margin-top: 30px;
  width: 70%;
  z-index: 20;
  margin-left: 2rem;
  @include tablet {
    .form-sm {
      font-size: 16px;
    }
    width: 40%;
    margin-left: 10rem;
    .forget {
      font-size: 14px;
      margin-top: 20px;
      padding: 0.5rem;
    }
  }
}
