@import "../../style/variable.scss";
.OperationArea__container {
  width: 95%;
  margin-top: 20px;
  padding: 0.5rem;
  align-items: flex-start;
  justify-content: center;
  @include tablet {
    width: 70%;
    margin-top: 5rem;
    padding: 0;
  }
  .area__content {
    width: 50%;
    padding: 0 0.5rem;
    flex-direction: column;
    align-self: center;
    h4 {
      line-height: 1.2;
      @include tablet {
        font-size: $font-30;
        width: 80%;
      }
    }
    .para {
      margin-top: 5px;
      @include tablet {
        width: 60%;
      }
    }
    button {
      margin-top: 5px;
      text-align: left;
    }
  }
  .area__img {
    width: 50%;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}
