@import "../../../../style/variable.scss";
.myride__wrapper {
  width: 100%;
  padding: 0 1rem;
  @include tablet {
    padding: 1rem 0.5rem 0;
    width: 70%;
  }
  .input__container {
    width: 60%;
    margin: 0;
    @include mobile {
      width: 100%;
    }
    .download {
      padding: 0.5rem;
      border: 1px solid blue;
      border-radius: 5px;
      font-size: 12px;
      margin-left: 10px;
    }
  }

  .input__details {
    width: 75%;
    margin-top: 1rem;
    @include tablet {
      width: 37%;
    }
    .box {
      padding: 0.2rem 0;
      @include tablet {
        padding: 0.2rem 0;
      }
      .small-title {
        font-size: $font-14;
        width: 70%;
        margin: 3px 0;
      }
      .p-text {
        font-size: $font-14;
        @include tablet {
          text-align: right;
          width: 30%;
        }
      }
    }
  }
  .page__container {
    align-items: center;
    margin-top: 1rem;
    .page__con {
      align-items: center;
      .ant-select-selector {
        height: 26px;
      }
      .ant-select-selection-item {
        line-height: 24px;
      }
      .page-num {
        font-size: 23px;
        font-weight: 100;
      }
      @include tablet {
        margin: 0.7rem;
        .ant-select-selector {
          height: 26px;
        }
        .ant-select-selection-item {
          line-height: 24px;
        }
        .page-num {
          font-size: 23px;
          font-weight: 100;
        }
      }
    }
  }
}
