@import "../../style/variable.scss";
.app__menu {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 120;
  padding: 0;
  .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 10px;
    width: 80%;
    height: 100%;
    background-color: #fff;
    backdrop-filter: blur(4px);
    opacity: 1;
    .menu__close {
      position: absolute;
      top: 10px;
      right: 10px;
      height: 30px;
      width: 30px;
      padding: 5px;
      border-radius: 50%;
      color: $whiteColor;
      background-color: $primaryColor;
      font-weight: 900;
    }
    .mobile__user {
      display: flex;
      \img {
        width: 50px;
        height: 50px;
        margin: 0 10px;
        object-fit: cover;
        border-radius: 50%;
        @media screen and (min-width: 767px) {
          width: 50px;
          height: 50px;
          margin: 0 15px;
        }
      }
      .user-link {
        padding: 0.5rem 1rem;
        background-color: $secondaryColor;
        color: $whiteColor;
        border-radius: 10px;
        cursor: pointer;
        font-size: $font-14;
        font-weight: 500;
      }
      .app__navbar-wrapper-lg {
        display: none;
      }
    }
  }
}
