@import "../../style/variable.scss";
.app__navbar {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #d3d3d3;
  background-color: transparent;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 1rem;
  position: relative;
  top: 0;
  @include tablet {
    height: 70px;
    padding: 1rem 5rem;
  }
  .app__navbar-wrapper-sm {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .navbar__logo {
      justify-content: space-between;
      width: 100%;
      @media screen and (min-width: 767px) {
        width: auto;
      }
      svg {
        margin-right: 10px;
        width: 20px;
        height: 20px;
        @media screen and (min-width: 767px) {
          display: none;
        }
      }
      img {
        width: 50%;
        @media screen and (min-width: 767px) {
          width: 100%;
          height: 30px;
          margin-left: 1rem;
        }
      }
    }
  }
  .nav__list {
    margin-left: auto;
    display: none;
    .nav__items {
      .nav__items-con {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 15px;
        padding: 0.5rem;
        border-radius: 5px;
        transition: all 0.3s;
        display: flex;
        align-items: center;
        &:hover > .menu__drop {
          height: auto;
          display: block;
        }
        &:hover {
          background-color: $secondaryColor;
          a {
            color: #fff;
          }
          .link {
            color: #fff;
          }
        }
        a {
          text-decoration: none;
          font-weight: 500;
          color: $primaryColor;
          margin: 0 15px;
        }
        .link {
          list-style: none;
          cursor: pointer;
          font-weight: 500;
        }
        .menu__drop {
          position: absolute;
          top: 0;
          left: 0;
          display: none;
          margin-top: 2.1rem;
          border-radius: 5px;
          flex-direction: column;
          width: 200px;
          height: 0;
          background-color: $whiteColor;
          z-index: 100;
          padding: 0.5rem 0.2rem 1rem;
          transition: all 0.75;
          .dropDown {
            width: 100%;
            padding: 18px 1rem;
            list-style: none;
            a {
              color: $secondaryColor;
            }
          }
        }
      }
    }
    @include tablet {
      display: flex;
      flex: 1;
      margin-left: 15%;
    }
  }

  .navbar__user {
    display: none;
    @include tablet {
      display: flex;
    }
    img {
      width: 50px;
      height: 50px;
      margin: 0 10px;
      object-fit: cover;
      border-radius: 50%;
      @media screen and (min-width: 767px) {
        width: 50px;
        height: 50px;
        margin: 0 15px;
      }
    }
    .user-link {
      padding: 0.5rem 1rem;
      background-color: $secondaryColor;
      color: $whiteColor;
      border-radius: 10px;
      cursor: pointer;
      font-size: $font-14;
      font-weight: 500;
    }
  }
  .app__navbar-wrapper-lg {
    display: none;
  }

  .menu__items {
    width: 100%;
    padding: 2rem 0;
    margin-top: 20px;
    .meun__items-con {
      position: relative;
      margin-top: 10px;
      margin-bottom: 18px;
      width: 70%;
      @include mobile {
        margin-left: 15px;
        margin-top: 20px;
      }

      a {
        text-decoration: none;
        padding: 18px 5px;
        color: $secondaryColor;
      }
      .menu__item {
        justify-content: space-between;
        position: relative;
        margin: 5px 0;
        padding: 15px 5px;
        transition: all 0.75;
        a {
          text-decoration: none;
          color: $secondaryColor;
        }
        .link {
          list-style: none;
          color: $secondaryColor;
        }

        &:hover + ul {
          display: flex;
          height: auto;
        }
        &:hover {
          .normal-text {
            color: $secondaryColor;
          }
        }
      }
      .menu__drop {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 50px;
        border-radius: 5px;
        display: none;
        flex-direction: column;
        width: 99%;
        height: 0;
        background-color: $whiteColor;
        z-index: 100;
        padding: 0.5rem 0.2rem 1rem;
        transition: all 0.75;
        .dropDown {
          width: 100%;
          padding: 18px 1rem;
          list-style: none;
        }
      }
    }
  }
}
