@import "../../style/variable.scss";
.DownloadSection__container {
  width: 95%;
  margin: 4rem auto 0;
  padding: 0.5rem;
  justify-content: space-between;
  @include tablet {
    width: 70%;
    margin: 6rem auto 0;
    justify-content: space-around;
  }
  .Download__content {
    width: 45%;
    text-align: center;
    align-self: center;
    @include tablet {
      width: 50%;
      text-align: left;
    }
    .title {
      font-weight: 700;
      font-size: 20px;
      line-height: 2;
      @include tablet {
        font-size: 65px;
        font-size: 35px;
        line-height: 1;
        padding: 1rem 0 0;
      }
    }
    .para-text {
      font-size: 14px;
      text-align: center;
      @include tablet {
        font-size: $font-18;
        padding: 1rem 0;
        text-align: left;
      }
    }
    .store_con {
      margin-top: 2rem;

      img {
        width: 80%;
        object-fit: cover;
        @include tablet {
          width: 60%;
        }
      }
    }
  }
  img {
    width: 50%;
    @include tablet {
      width: 35%;
    }
  }
}
