@import "../../../style/variable.scss";
.Vehicles {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  .Vehicles__wrapper {
    width: 95%;
    .Vehicles__content {
      .controls__container {
        margin-top: 1rem;
        .control-btn {
          padding: 0.7rem 1rem;
          margin-right: 1rem;
          background-color: transparent;
          border: 1px solid $lightAshe;
          border-radius: 5px;
          font-weight: 500;
          &.active {
            background-color: $secondaryColor;
            color: $whiteColor;
          }
        }
      }
    }
  }
}
