@import "../../style/variable.scss";
.OurBrand {
  width: 95%;
  padding: 0.5rem;
  .wrapper {
    width: 100%;
    margin-top: 2rem;
    overflow: hidden;
    max-width: 360px;
    @include tablet {
      width: 75%;
      margin-top: 7rem;
      max-width: 1000px;
      padding: 1rem 0 2rem;
    }
  }
  h3 {
    text-align: center;
    @include tablet {
      margin-top: 1rem;
      font-size: $font-30;
    }
    span {
      color: $secondaryColor;
      margin-right: 10px;
    }
  }
  .brand__box-con {
    justify-content: center;
    margin-top: 1rem;
    @include mobile {
      width: 90%;
      justify-content: flex-start;
    }
    .brand__box {
      width: 100%;
      padding: 1rem;
      min-width: 100%;
      display: flex;
      justify-content: center;
      padding: 0.5rem;
      position: relative;
      @include tablet {
        width: 40%;
        min-width: 35%;
        padding: 1rem 2rem;
        justify-content: space-between;
      }
      .content__box {
        position: relative;
        display: flex;
        height: 380px;
        flex-direction: column;
        justify-content: flex-end;
        padding: 1rem 1rem;
        border: 1px solid #f3f3f3;
        box-shadow: 1px 5px 2px 2px #fcfcfc;
        border-radius: 10px;
        width: 80%;
        @include tablet {
          width: 100%;
          .text__content {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 1rem;
          }
        }
        img {
          width: 100%;
          position: absolute;
          top: 20px;
          right: 40px;
          z-index: 20;
          @include tablet {
            width: 100%;
          }
        }
        .text__content {
          position: absolute;
          top: 70%;
        }
        .title {
          margin-top: 1rem;
          @include tablet {
            margin-top: 1rem;
          }
        }
        .text {
          font-weight: 500;
          line-height: 1.5;
          font-size: $font-14;
          @include tablet {
            font-size: $font-12;
          }
        }
      }
    }
  }
}
