@import '../../style/variable.scss';
.testionial__container{
    width: 95%;
    margin-top: 50px;
    box-shadow: 2px 4px 5px 1px #F3f3f3;
    -webkit-box-shadow: 2px 4px 5px 1px #F3f3f3;
    -moz-box-shadow: 2px 4px 5px 1px #F3f3f3;
    border-radius: 10px;
    padding: 2rem 1rem;
    @media screen and (min-width: 768px) {
        width: 70%;
        margin-top: 4rem;
    }
    
    h3{
        text-align: center;
        @media screen and (min-width: 768px) {
            text-align: left;
        }
    }
    .test__inner-con{
        justify-content: space-between;
        margin: 0 auto;
        @media screen and (min-width: 768px) {
            width: 70%;
        }
        .test__box{
            width: 48%;
            padding: .5rem;
            @media screen and (min-width: 768px) {
                width: 45%;
            }
           .test__img-con{
                position: relative;
                top: 0;
                left: 0;
                width: 80%;
                height: 130px;
                border-radius: 50%;
                overflow: hidden;
                @media screen and (min-width: 768px) {
                    height: 150px;
                    width: 65%;
                }
                .test__ell{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $secondaryColor;
                    border-radius: 50%;
                }
                img{
                    width: 93%;
                    height: 98%;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
           } 
           h2{
            font-size: $font-16;
            line-height: 3;
            font-weight: 900;
            overflow: ellipses;
           }
           p{
            font-size: $font-12;
           }
        }
    }

}