@import "../../style/variable.scss";
.testionial__container {
  width: 95%;
  margin-top: 50px;
  padding: 0.5rem;
  box-shadow: 2px 4px 5px 1px #f3f3f3;
  -webkit-box-shadow: 2px 4px 5px 1px #f3f3f3;
  -moz-box-shadow: 2px 4px 5px 1px #f3f3f3;
  border-radius: 10px;
  padding: 2rem 1rem;
  @include tablet {
    width: 70%;
    margin-top: 4rem;
  }

  h3 {
    text-align: left;
    @include tablet {
      font-size: $font-30;
    }
  }
  .test__inner-con {
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    @include tablet {
      flex-direction: row;
      width: 90%;
    }
    .test__box {
      width: 80%;
      padding: 1.5rem 0.5rem;
      @include tablet {
        width: 40%;
        padding: 0.5rem;
      }
      .test__img-con {
        position: relative;
        top: 0;
        left: 0;
        width: 65%;
        height: 145px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
        @include tablet {
          height: 150px;
          width: 50%;
        }
        .test__ell {
          position: absolute;
          top: 0;
          left: 0;
          width: 95%;
          height: 100%;
          background-color: $secondaryColor;
          border-radius: 50%;
        }
        img {
          width: 90%;
          height: 95%;
          border-radius: 50%;
          position: absolute;
          bottom: 0;
          right: 10px;
          object-fit: cover;
        }
      }
      h2 {
        line-height: 3;
        overflow: ellipses;
        white-space: nowrap;
        text-align: center;
        @include tablet {
          font-size: $font-18;
        }
      }
      .para-text {
        text-align: left;
        @include tablet {
          font-size: $font-16;
        }
      }
    }
  }
  .link-to-testimonial-con {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    .link-to-testimonial {
      cursor: pointer;
      padding-right: 20px;
    }
  }
}
