@import '../../style/variable.scss';
.testionial__container{
    width: 95%;
    margin-top: 50px;
    box-shadow: 2px 4px 5px 1px #F3f3f3;
    -webkit-box-shadow: 2px 4px 5px 1px #F3f3f3;
    -moz-box-shadow: 2px 4px 5px 1px #F3f3f3;
    border-radius: 10px;
    padding: 2rem 1rem;
    @media screen and (min-width: 768px) {
        width: 70%;
        margin-top: 4rem;
    }
    
    h3{
        text-align: left;
        @media screen and (min-width: 768px) {
            font-size: $font-30;
        }
    }
    .test__inner-con{
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        @media screen and (min-width: 768px) {
            flex-direction: row;
            width: 90%;
        }
        .test__box{
            width: 80%;
            padding: 1.5rem .5rem;
            @media screen and (min-width: 768px) {
                width: 40%;
                padding: .5rem;
            }
           .test__img-con{
                position: relative;
                top: 0;
                left: 0;
                width: 50%;
                height: 130px;
                border-radius: 50%;
                overflow: hidden;
                margin: 0 auto;
                @media screen and (min-width: 768px) {
                    height: 150px;
                    width: 50%;
                }
                .test__ell{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 95%;
                    height: 100%;
                    background-color: $secondaryColor;
                    border-radius: 50%;
                }
                img{
                    width: 90%;
                    height: 95%;
                    border-radius: 50%;
                    position: absolute;
                    bottom: 0;
                    right: 8px;
                }
           } 
           h2{
            font-size: $font-16;
            line-height: 3;
            font-weight: 900;
            overflow: ellipses;
            text-align: center;
            @media screen and (min-width: 768px) {
                font-size: $font-18;
            }
           }
           .para-text{
            font-size: $font-16;
            line-height: 1.5;
            text-align: left;
            @media screen and (min-width: 768px) {
                font-size: $font-16;
            }
           }
        }
    }

}