@import "../../../../style/variable.scss";

.Mydocument {
  padding: 0 1rem;
  @include tablet {
    padding: 1rem 0.5rem;
  }
  .title {
  }
  .fw-300 {
    width: 70%;
    margin-top: 0.05em;
  }
  .documents {
    width: 95%;
    display: flex;
    margin-top: 0.5rem;

    flex-direction: column;
    @include mobile {
      width: 100%;
    }
    @include tablet {
      width: 70%;
    }
    .doc__box {
      margin: 15px 0;
      background-color: #f3f3f3;
      border-radius: 10px;
      padding: 1rem;
      @include mobile {
        padding: 1rem 0.5rem;
      }
      .title {
        line-height: 1.5;
        @include tablet {
          font-size: $font-24;
        }
      }
      .left__con {
        width: 60%;
        @include tablet {
          width: 70%;
        }
      }
      .doc__content {
        width: 100%;
        margin-top: 1rem;
        justify-content: space-between;

        @include tablet {
          width: 100%;
        }
        .p-text {
          line-height: 1.5;
          font-size: 12px;
          @include tablet {
            font-size: $font-14;
          }
        }
        .doc__icon {
          align-items: center;
          margin-top: 0.5rem;
          svg {
            width: 10%;
            margin-right: 3px;
            font-size: 18px;
            margin-left: -5px;
            @include tablet {
              font-size: $font-14;
              margin-left: -8px;
              width: 5%;
              font-size: 20px;
            }
          }
          .p-text {
            @include mobile {
              width: 160px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
      .right__con {
        width: 31%;
        align-items: flex-end;
        justify-content: flex-end;
        @include tablet {
          width: auto;
        }
        input[type="file"] {
          display: none;
        }
        .custom-upload {
          background-color: $secondaryColor;
          padding: 0.5rem;
          color: $whiteColor;
          border-radius: 10px;
          svg {
            margin-right: 5px;
            font-size: 16px;
            font-weight: 700;
          }
        }
      }
    }
  }
}
