@import "../../../../style/variable.scss";
.Mydocument {
  padding: 0 1rem;

  @include tablet {
    padding: 1rem 0.5rem;
  }
  @include mobile {
    max-width: 600px;
  }
  .fw-300 {
    width: 70%;
    margin-top: 0.05em;
    font-size: calc(12px + 6 * ((100vw - 320px) / 680));
    @include tablet {
      font-size: calc(11px + 6 * ((100vw - 320px) / 680));
    }
  }
  .doc__box {
    margin: 15px 0;
    background-color: #f3f3f3;
    .title {
      line-height: 1.5;
    }
    .doc__content {
      width: 100%;
      margin-top: 1rem;
      justify-content: space-between;

      @include tablet {
        width: 100%;
      }
      .p-text {
        line-height: 1.5;
        font-size: 12px;
        @include tablet {
          font-size: calc(10px + 6 * ((100vw - 768px) / 680));
          .doc-name {
            font-weight: 400;
          }
        }
      }
    }
    .right__con {
      width: 31%;
      align-items: flex-end;
      justify-content: flex-end;
      @include tablet {
        width: auto;
      }
      input[type="file"] {
        display: none;
      }
    }
  }
}
