@import "../../style/variable.scss";
.Safety {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  @include tablet {
    width: 70%;
    margin-top: 3rem;
  }
  .wrapper {
    width: 95%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(
        to bottom,
        rgba(10, 167, 62, 0.8),
        rgba(14, 167, 65, 0.7)
      ),
      url("../../asset/image/openDoor.png");
    background-position: center;
    background-size: cover;
    padding: 1rem;
    row-gap: 1rem;
    border-radius: 10px;
    @include tablet {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 2rem 1rem;
      .left__con {
        width: 48%;
      }
      .right__con {
        width: 48%;
      }
    }
    .content__box {
      .title {
        color: $whiteColor;
        font-weight: 700;
      }
      .text {
        margin-top: 0.3rem;
        color: $whiteColor;
        @include tablet {
          font-size: $font-14;
        }
      }
    }
  }
}
