@import "../../../style/variable.scss";
.firstTab.driver {
  height: auto;
  flex-direction: column;
  margin-top: 2rem;
  align-items: center;
  .form-bold {
    width: 100%;
    line-height: 1.3;
    text-align: left;
    font-size: 20px;
    @include tablet {
      width: 30%;
      line-height: 1;
    }
  }
  .form-text {
    margin-top: 0.5rem;
  }
  .small-title {
    width: 70%;
    text-align: center;
    margin-top: 0.5rem;
    @include tablet {
      width: 50%;
      line-height: 1.6;
    }
  }
}
