@import "../../../style/variable.scss";
.firstTab {
  width: 95%;
  height: auto;
  flex-direction: column;
  margin-top: 2rem;
  align-items: center;
  .form-bold {
    width: 60%;
    line-height: 1.6;
    text-align: center;
    @include tablet {
      width: 30%;
      line-height: 1.6;
    }
  }
  .small-title {
    width: 70%;
    text-align: center;
    margin-top: 0.5rem;
    @include tablet {
      width: 50%;
      line-height: 1.6;
    }
  }
}
