.firstTab{
    width: 95%;
    height: auto;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
    .form-bold{
        width: 60%;
        line-height: 1.6;
        text-align: center;
        @media screen and (min-width: 768px) {
            width: 30%;
            line-height: 1.6;
        }
    }
    .form-text{
        width: 70%;
        text-align: center;
        margin-top: .5rem;
        @media screen and (min-width: 768px) {
            width: 50%;
            line-height: 1.6;
        }
    }
}