@import "../../../style/variable.scss";
.Thirdform {
  width: 100%;
  padding: 0.5rem;
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    form {
      width: 80%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  .input__file-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1rem;
    @include tablet {
      // justify-content: space-between;
      width: 48%;
    }
    .form-text {
      font-size: 18px;
      font-weight: 500;
    }
    .p-text {
      text-align: left;
      font-weight: 300;
      @include tablet {
        font-size: 16px;
      }
    }
    .req-text {
      color: red;
      font-weight: 300;
      margin-top: 5px;
      @include tablet {
        font-size: 14px;
      }
    }
    input {
      margin-top: 0.5rem;
      &[type="file"] {
        display: none;
      }
    }
    .upload {
      background-color: #f3f3f3;
      font-weight: 700;
      width: auto;
      padding: 0.3rem 0.5rem;
      border-radius: 10px;
      margin-top: 0.5rem;
    }
  }
  .third__ul {
    margin-top: 0.2rem;
    padding-left: 5%;
    li {
      width: 100%;
    }
  }
  .btn__wrapper {
    width: 100%;
    button {
      margin-top: 2rem;
      @include tablet {
        width: 40%;
        margin: 0 auto;
        margin-top: 2rem;
      }
    }
  }
}
