.recent__booking{
    padding: 1rem;
    .col__title{
        justify-content: space-between;
        .col-3{
            text-align: center;
        }
    }
    width: 100%;
    .col-1{
        width: 25%;
        text-align: center;
        justify-content: center;
        img{
            width: 23%;
            margin-right: 15px;
        }
    }
    .col-2{
        width: 23%;
        text-align: center;
    }
    .col-3{
        width: 23%;
        text-align: center;
    }
    .col-4{
        width: 23%;
        text-align: center;
    }
    .booking__box{
        justify-content: space-between;
        padding: .3rem .3rem;
        margin-top: .5rem;
    }
}