@import "../../../style/variable.scss";
.recent__booking {
  padding: 1rem;
  .col__title {
    justify-content: space-between;
    .col-3 {
      text-align: center;
    }
  }
  width: 100%;
  .col-1 {
    width: 30%;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 15px;
    }
    @include tablet {
      font-size: $font-14;
      font-weight: 500;
    }
  }
  .col-2 {
    width: 38%;
    text-align: center;
    align-self: center;
    @include tablet {
      font-size: $font-14;
      font-weight: 500;
    }
  }
  .col-3 {
    width: 15%;
    text-align: center;
    align-self: center;
    @include tablet {
      font-size: $font-14;
      font-weight: 500;
    }
  }
  .col-4 {
    width: 15%;
    text-align: center;
    align-self: center;
    @include tablet {
      font-size: $font-14;
      font-weight: 500;
    }
  }
  .booking__box {
    justify-content: space-between;
    padding: 0.3rem 0.3rem;
    margin-top: 0.5rem;
  }
}
