@import "../../../../style/variable.scss";
.ProfileSetting {
  @include mobile {
    .title {
      padding: 0 1rem;
    }
    margin-top: 1rem;
  }
}
.ProfileSetting__con {
  width: 95%;
  margin: 0 auto;
  background-color: $asheColor;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 1rem;
  flex-direction: column;
  align-items: center;
  min-height: 200px;
  @include mobile {
    margin-top: 0;
  }
  @include tablet {
    width: 50%;
  }

  .img__control {
    width: 50%;
    height: 160px;
    border-radius: 50%;
    position: relative;
    top: 0;
    @include tablet {
      width: 30%;
    }
    .img__con {
      width: 160px;
      height: 160px;
      overflow: hidden;
      @include tablet {
        height: 160px;
      }
    }
    img {
      width: 160px;
      height: 160px;
      border-radius: 50%;
      object-fit: cover;
      @include tablet {
        height: 100%;
      }
    }
    input[type="file"] {
      display: none;
    }
    .custom-upload {
      position: absolute;
      top: 60%;
      right: 0;
      z-index: 1;
      color: $whiteColor;
      border-radius: 10px;
      padding: 0.4rem 0.2rem;
      background-color: $secondaryColor;
      @include tablet {
        padding: 0.4rem 0.5rem;
        right: -20px;
        top: auto;
        bottom: 50px;
      }
      svg {
        font-size: 14px;
        font-weight: 900;
        color: $whiteColor;
      }
    }
  }
  .ProfileSetting__form {
    width: 90%;
    @include tablet {
      margin-top: 1rem;
    }
    .input__group {
      @include tablet {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
    .group__detail {
      .bold-text {
        font-weight: 500;
        font-size: 12px;
        margin-top: 2px;
        line-height: 1.3;
      }
      @include tablet {
        display: block;
        margin: 2rem 0 5px;
        .bold-text {
          font-size: 14px;
        }
      }
    }
    .input__container {
      margin-bottom: 5px;
      input {
        background-color: $whiteColor;
        border-radius: 10px;
        padding: 5px 10px;
      }
    }

    button {
      margin: 0 auto;
      margin-top: 1.5rem;
      color: $whiteColor;
      @include tablet {
        margin-top: 2rem;
        width: 30%;
      }
    }
  }
}
