@import "../../../style/variable.scss";
.PaymentSettings {
  width: 100%;
  .payment__con {
    margin-top: 2rem;
    .payment {
      width: 40%;
      border: 1px solid #bebebe;
      border-radius: 10px;
      padding: 0.8rem 1rem;
      margin: 1.5rem 0;
      display: flex;
      align-items: center;
      img {
        width: 50px;
        height: 40px;
        object-fit: contain;
        margin-right: 1rem;
      }
      .p-text {
        font-weight: 500;
      }
      .sm-text {
        font-size: $font-12;
        font-weight: 300;
      }
    }
  }
}
