@import "../../../../style/variable.scss";
.help__button {
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 10px;
  display: flex;
  margin: 0.8rem 0;
  width: 30%;
  min-width: 250px;
  justify-content: space-between;
  cursor: pointer;
  font-weight: 500;
  font-size: calc(8px + 6 * ((100vw - 768px) / 680));
  @include mobile {
    width: 80%;
    font-size: calc(12px + 6 * ((100vw - 320px) / 680));
  }
  svg {
    margin-top: 3px;
  }
}
