@import "../../style/variable.scss";
.combine__con {
  flex-direction: column;
  margin: 0.8rem 0;

  input {
    width: 35px !important;
    border: 1px solid $lightAshe;
    height: 35px;
    border-radius: 10px;
    margin: 0 5px;
    &:focus {
      outline: none;
    }
  }
  .verify-otp-error {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    @include tablet {
      width: 100%;
    }
    .sign-btn {
      @include tablet {
        width: 80%;
      }
      margin-top: 1rem;
      padding: 10px 2rem;
      &:hover {
        background-color: $whiteColor;
        color: $secondaryColor;
        border: 1px solid $secondaryColor;
        padding: 9px;
      }
    }
  }
}
.resend-otp {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-top: 0 !important;
  text-align: center;
  width: 100% !important;
  color: $secondaryColor;
  font-weight: 500;
}
