@import "../../style/variable.scss";
.LessonVideo {
  width: 100%;
  height: auto;
  justify-content: center;
  padding: 1rem 0 3rem;
  .LessonVideo__wrapper {
    margin-top: 7rem;
    width: 95%;
    flex-direction: column;
    align-items: center;
    @include tablet {
      width: 50%;
    }
    .LessonVideo__title-con {
      width: 100%;
      background-color: $secondaryColor;
      align-items: center;
      border-radius: 10px 10px 0 0;
      padding: 0.8rem 0.6rem;
      color: $whiteColor;
      span {
        line-height: 0;
        svg {
          margin: 0 0.5rem 0 0;
          padding: 0;
        }
      }

      .lesson-title {
        color: $whiteColor;
      }
    }
    .profile__con {
      width: 97%;
      margin-top: 1.5rem;
      .img__con {
        width: 40%;
        margin-right: 1rem;
        img {
          width: 100%;
        }
      }
      .profile__content {
        flex-direction: column;
        .activities__con {
          margin-top: 0.5rem;
          .list-dot {
            height: 25px;
            width: 25px;
            background-color: #f3f3f3;
            margin: 5px 3px;
            border-radius: 50%;
          }
        }
        .activity-qyt {
          margin-top: 0.4rem;
          span {
            font-weight: 700;
            margin-right: 0.5rem;
          }
        }
      }
    }
    .Lessonbox__con {
      width: 95%;
      margin-top: 2rem;
    }
  }
}
