@import "../../style/variable.scss";
.FleetDB__controller {
  width: 38%;
  display: none;
  @include tablet {
    margin-top: 3.7rem;
    width: 27%;
    display: block;
  }
  .FleetDB__con {
    width: 100%;
    background-color: green;
    padding: 1rem 0rem 0;
    @include tablet {
      width: 100%;
      padding: 2rem 0rem 0;
    }
    .getApp {
      background-color: $whiteColor;
      width: 100%;
      border-radius: 0 20px 0 0;
      padding: 1rem 0.5rem;
      margin-top: 1rem;
      .iphones {
        width: 40%;
      }
      .getApp__content {
        width: 60%;
        .small-title {
          font-size: 11px;
          @include tablet {
            font-size: $font-18;
            font-weight: 900;
            margin-left: 1.3rem;
          }
        }
        .img__con {
          margin: 1.7rem 1rem 0;
          justify-content: space-around;
          img {
            width: 30%;
          }
        }
      }
    }
  }
}
