@import "../../../../style/variable.scss";
.BalanceReport {
  width: 95%;
  padding: 0 1rem;
  @include tablet {
    padding: 1rem 0.5rem;
  }

  .balanceReport__wrapper {
    width: 100%;
    @include tablet {
      width: 70%;
    }
    .pagination {
      margin-top: 1rem;
      align-items: center;
      .page__con {
        align-items: center;
        .ant-select-selector {
          height: 26px;
        }
        .ant-select-selection-item {
          line-height: 24px;
        }
        .page-num {
          font-size: 23px;
          font-weight: 100;
        }
      }
    }
    .balance__con {
      margin-top: 1.5rem;
      .col-1,
      .col-2 {
        width: 50%;
      }
      .col-2 {
        text-align: center;
      }
      .balance__header {
        width: 100%;
        height: 40px;
        padding: 0.5rem;
        background-color: $asheColor;
        align-items: center;
        border-radius: 10px;
        justify-content: space-between;
      }
      .reports__box-con {
        margin-top: 0.5rem;
        padding: 0.5rem;
        .report__box {
          justify-content: space-between;
          padding: 0.5rem 0;
          border-bottom: 2px solid rgb(211, 211, 211);
          &:last-of-type {
            border-bottom: none;
          }
          @include tablet {
            padding: 1rem 0;
          }
          .pdf {
            color: $secondaryColor;
          }
          .p-text {
            font-size: 12px;

            &:last-of-type {
              text-align: center;
            }
            @include tablet {
              font-size: 14px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
