@import "../../../../style/variable.scss";
.BalanceReport {
  width: 100%;
  padding: 0 1rem;
  max-width: 600px;
  @include tablet {
    padding: 1rem 0.5rem;
    max-width: none;
  }

  .balanceReport__wrapper {
    width: 100%;
    @include tablet {
      width: 70%;
    }
    .small-title {
      margin-top: 5px;
      font-size: calc(13px + 6 * ((100vw - 320px) / 680));
      @include tablet {
        font-size: calc(12px + 6 * ((100vw - 768px) / 680));
      }
    }
    .pagination {
      margin-top: 1rem;
      align-items: center;
      .page__con {
        align-items: center;
        .ant-select-selector {
          height: 26px;
        }
        .ant-select-selection-item {
          line-height: 24px;
        }
        .page-num {
          font-size: 23px;
          font-weight: 100;
        }
      }
    }
    .balance__con {
      margin-top: 1.5rem;
      .col-1 {
        width: 65%;
      }
      .col-2 {
        width: 35%;
      }
      .col-2 {
        text-align: right;
        margin-right: 1rem;
      }
      .balance__header {
        width: 100%;
        height: 40px;
        padding: 0.5rem;
        background-color: $asheColor;
        align-items: center;
        border-radius: 10px;
        justify-content: space-between;
        .bold-text {
          font-size: calc(12px + 6 * ((100vw - 320px) / 680));
          @include tablet {
            font-size: calc(8px + 6 * ((100vw - 768px) / 680));
          }
        }
      }
      .reports__box-con {
        margin-top: 0.5rem;
        padding: 0.5rem;
        .report__box {
          justify-content: space-between;
          border-bottom: 2px solid rgb(211, 211, 211);
          &:last-of-type {
            border-bottom: none;
          }
          @include tablet {
            padding: 1rem 0;
          }
          .pdf {
            color: $secondaryColor;
          }
          .p-text {
            font-size: calc(13px + 6 * ((100vw - 320px) / 680));
            @include tablet {
              font-size: calc(8px + 6 * ((100vw - 768px) / 680));
            }

            &:last-of-type {
              text-align: right;
              margin: 0;
            }
            @include tablet {
              font-size: 14px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
