.review__con{
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 1rem 0;
    .review__box{
        padding: 0.5rem 0.3rem;
        .col-1{
            width: 20%;
            img{
                width: 80%;
            }
        }
        .col-2{
            flex: 1;
            text-align: left;
            .col-rating{
                font-size: 12px;
                .p-text{
                    font-size: 12px;
                }
            }
        }
        .col-3{
            font-size: 12px;
        }
    }
    .title{
        line-height: 1.5;
    }
}