@import "../../../style/variable.scss";
.review__con {
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 10px;
  padding: 1rem 0;
  @include mobile {
    padding: 1rem;
  }
  .review__box {
    padding: 0.5rem 0.3rem;
    .col-1 {
      width: 20%;
      margin-right: 10px;
      @include mobile {
        width: 18%;
        margin-right: 0;
      }
      img {
        width: 40px;
        height: 40px;
        min-width: 30px;
        min-height: 30px;
        border-radius: 50%;
        object-fit: cover;
        @include mobile {
          width: 40px;
          height: 40px;
          min-width: 30px;
          min-height: 30px;
        }
      }
    }
    .col-2 {
      flex: 1;
      text-align: left;
      margin-left: 5px;
      .name {
        @include tablet {
          padding-right: 5px;
          width: calc(100px + 6 * ((100vw - 320px) / 680));
          max-width: calc(100px + 6 * ((100vw - 320px) / 680));
          min-width: calc(80px + 6 * ((100vw - 320px) / 680));
        }
      }
      .col-rating {
        font-size: 12px;
        justify-content: space-between;

        .p-text {
          @include tablet {
            font-size: calc(4px + 6 * ((100vw - 320px) / 680));
            padding-right: 5px;
            width: calc(60px + 6 * ((100vw - 320px) / 680));
            max-width: calc(60px + 6 * ((100vw - 320px) / 680));
            min-width: calc(60px + 6 * ((100vw - 320px) / 680));
          }
          ul {
            font-size: calc(15px + 6 * ((100vw - 320px) / 680)) !important;
            @include tablet {
              font-size: calc(3px + 6 * ((100vw - 320px) / 680)) !important;
            }
          }
        }
        li {
          margin-inline-end: 0 !important;
        }
      }
    }
    .col-3 {
      @include tablet {
        font-size: calc(4px + 6 * ((100vw - 320px) / 680));
      }
    }
  }
  .title {
    line-height: 1.5;
  }
}
