@import './variable.scss';
.flex{
    display: flex;
}

.app__container{
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
}
.app__wrapper{
    flex: 1;
    display: flex;
    flex-direction: row;
}

.flex{
    display: flex;
}
.center{
    justify-content: center;
    align-items: center;
}
.start{
    justify-content: flex-start;
    align-items: flex-start;
}

.p-text{
    font-size: $font-16;
    font-family: $primaryFont;
    line-height: 1.3;
    font-weight: 300;
    color: $primaryColor ;
    text-decoration: none;
    @media screen and (min-width: 768px) {
        font-size: $font-14;
    }
}
.small-text{
    font-size: $font-10;
    font-family: $primaryFont;
    font-weight: 300;
}
.btn-text{
    font-size: $font-40;
    color: $whiteColor;
    text-align: center;
    font-weight: 700;
    @media screen and (min-width: 768px) {
        font-size: $font-20;
    }
}
.title{
    font-size: $font-30;
    color: $primaryColor;
    line-height: 3;
    font-weight: 700;
}

.bold-text{
    font-weight: 700;
    font-size: $font-16;
    line-height: 2;
}
.form-title{
    font-size: 24px;
    color: $secondaryColor;
    font-weight: 900;
}
.form-bold{
    font-size: $font-16;
    color: $primaryColor;
    font-weight: 700;
    margin-top: 5px;
    line-height: 3;
}
.form-text{
    font-size: $font-14;
    color: $primaryColor;
    font-weight: 500;
    line-height: 1.6;
}
.mt-5{
    margin-top: 5px;
}
.d-none{
    display: none !important;
}

