@import "./variable.scss";
.flex {
  display: flex;
}

.app__container {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
}
.app__wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.flex {
  display: flex;
}
.center {
  justify-content: center;
  align-items: center;
}
.start {
  justify-content: flex-start;
  align-items: flex-start;
}

.p-text {
  font-size: $font-14;
  font-family: $primaryFont;
  line-height: 1.3;
  font-weight: 300;
  color: $primaryColor;
  text-decoration: none;
  @media screen and (min-width: 768px) {
    font-size: $font-14;
  }
}
.text {
  font-size: $font-16;
  line-height: 1.5;
  font-weight: 300;
  color: $primaryColor;
}
.small-text {
  font-size: $font-10;
  font-family: $primaryFont;
  font-weight: 300;
}
.btn-text {
  font-size: $font-16;
  color: $whiteColor;
  text-align: center;
  font-weight: 700;
  @media screen and (min-width: 768px) {
    font-size: $font-18;
  }
}
.title {
  font-size: $font-20;
  color: $primaryColor;
  line-height: 1.5;
  font-weight: 700;
}

.bold-text {
  font-weight: 700;
  font-size: $font-16;
  line-height: 1.3;
}
.form-title {
  font-size: 24px;
  color: $secondaryColor;
  font-weight: 900;
}
.form-bold {
  font-size: $font-16;
  color: $primaryColor;
  font-weight: 700;
  margin-top: 5px;
  line-height: 3;
}
.form-text {
  font-size: $font-14;
  color: $primaryColor;
  font-weight: 500;
  line-height: 1.6;
}
.mt-5 {
  margin-top: 5px;
}
.d-none {
  display: none !important;
}

.small-title {
  font-size: 16px;
  color: $primaryColor;
  font-weight: 500;
}
.shadow {
  box-shadow: 7px 7px 5px 0px $boxShadow;
  -webkit-box-shadow: 7px 7px 5px 0px $boxShadow;
  -moz-box-shadow: 7px 7px 5px 0px $boxShadow;
}
.box-shadow {
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  -webkit-box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  -moz-box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
}
.dbTab {
  flex: 1;
  margin: 4rem 0.5rem 0;
}
.fw-300 {
  font-weight: 300;
}
.fw-500 {
  font-weight: 500;
}
.fw-700 {
  font-weight: 700;
}
.fw-900 {
  font-weight: 900;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.align {
  margin-top: 5px;
  margin-right: 10px;
}
.active {
  color: $whiteColor;
  background-color: $secondaryColor;
}
.disable {
  color: $whiteColor;
  background-color: red;
}
.error {
  font-size: 12px;
  font-weight: 500;
  color: red;
  margin: 4px 0 0 5px;
}
.error-border {
  border: 1px solid red;
}
.btn {
  width: 50%;
  background-color: $secondaryColor;
  border-radius: 5px;
  border: none;
  padding: 10px;
  color: $whiteColor;
  font-size: 18px;
  &:hover {
    background-color: $whiteColor;
    color: $secondaryColor;
    border: 1px solid $secondaryColor;
    padding: 9px;
  }
}
