$primaryColor: #000000;
$secondaryColor: green;
$blueColor: #3a589b;
$whiteColor: #fff;
$lightAshe: #d9d9d9;
$darkAshe: rgb(137, 147, 156);
$boxShadow: #111;
$asheColor: #faf9f9;

@mixin mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
$primaryFont: roboto;
$font-10: 10px;
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-24: 24px;
$font-30: 30px;
$font-40: 40px;
$font-50: 50px;
$font-70: 70px;
$font-96: 96px;
