@import "../../style/variable.scss";
.techdrive {
  width: 100%;
  height: 100vh;
  .Form__navbar {
    position: block;
  }
  .techdrive__wrapper {
    flex-direction: column;
    padding: 1rem 3rem;
    @include tablet {
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      padding: 1rem 3rem;
      margin-top: 10rem;
    }
    .techdrive__left,
    .techdrive__right {
      width: 95%;
      @include tablet {
        margin-top: 3rem;
        width: 35%;
        padding: 0 2rem;
      }
    }
    .techdrive__left {
      button {
        margin-top: 2rem;
        @include tablet {
          margin-top: 3rem;
        }
      }
      .form-title {
        text-align: center;
        color: $primaryColor;
        span {
          color: $secondaryColor;
        }
      }

      .form-bold {
        text-align: center;
        font-size: $font-20;
        @include tablet {
          line-height: 1.2;
          margin-top: 2rem;
        }
      }
      .form-text {
        text-align: center;
        line-height: 1.6;
        @include tablet {
          line-height: 1.7;
        }
      }
    }
    .techdrive__right {
      margin-top: 3rem;
      img {
        width: 100%;
        @include tablet {
          width: 100%;
        }
      }
      @include tablet {
        margin-top: 0;
      }
    }
  }
}
