@import "../../../style/variable.scss";
.Tabcontroller-btn {
  background-color: transparent;
  padding: 0.5rem 0.7rem;
  border-radius: 10px;
  border: none;
  margin: 15px 0;
  font-weight: 500;
  transition: all 0.5s;
  font-size: 14px !important;
  list-style: none;
  color: $whiteColor !important;
  @include tablet {
    padding: 0.7rem 2rem;
    font-size: 16px !important;
  }
  &:hover {
    background-color: $whiteColor;
    margin-left: 10px;
    color: $primaryColor !important;
  }
  svg {
    margin-right: 0.8rem;
    @include tablet {
      margin-right: 0.4rem;
    }
  }
}
