@import "../../../../style/variable.scss";
.Invoice {
  width: 95%;
  padding: 0 1rem;
  @include tablet {
    padding: 1rem 0.5rem;
  }
  .invoice__wrapper {
    width: 100%;
    @include tablet {
      width: 70%;
    }
    .col-1 {
      width: 25%;
      text-align: left;
    }
    .col-2 {
      width: 15%;
    }
    .col-3 {
      width: 20%;
    }
    .col-4 {
      width: 25%;
      text-overflow: ellipsis;
    }
    .col-5 {
      width: 10%;
    }
    .invoice__con {
      margin-top: 1.2rem;
      .file__header {
        width: 100%;
        height: 50px;
        background-color: $asheColor;
        align-items: center;
        border-radius: 10px;
        justify-content: space-between;
        @media screen and (min-width: 768px) {
          padding: 1rem;
        }
        .bold-text {
          text-align: center;
          text-overflow: hidden;
          font-size: 14px;
          &:first-of-type {
            text-align: left;
          }
          @media screen and (min-width: 768px) {
            font-size: 16px;
          }
        }
      }
      .file__box-con {
        margin-top: 0.5rem;
      }
    }
  }
}
