@import "../../style/variable.scss";
.info-access {
  width: 100%;
  margin-top: 8rem;
  @include tablet {
    margin-top: 6rem;
  }
  .form-title {
    text-align: center;
    color: $primaryColor;
    span {
      color: $secondaryColor;
    }
  }
  .info-content {
    width: 90%;
    height: auto;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
    @include tablet {
      width: 40%;
    }
    span {
      color: $secondaryColor;
    }
    .info-modal {
      margin-top: 1rem;
      box-shadow: 2px 4px 5px 1px #e0e0e0;
      -webkit-box-shadow: 2px 4px 5px 1px #e0e0e0;
      -moz-box-shadow: 2px 4px 5px 1px #e0e0e0;
      border-radius: 10px;
      padding: 1rem 0;
      @include tablet {
        padding: 0.5rem 0;
      }
      .modal-title {
        font-size: $font-20;
        font-weight: 900;
        line-height: 2;
        text-align: center;
        @include tablet {
          line-height: 1.3;
        }
      }
      .p-text {
        text-align: center;
        margin-top: 0.5rem;
        @media screen and (min-width: 768px) {
          font-size: 16px;
        }
      }
      .modal-1,
      .modal-2,
      .modal-3 {
        padding: 1rem 1rem;
      }
      .modal-1 {
        border-bottom: 1px solid #f3f3f3;
      }
      .modal-3 {
        border: none;
        flex-direction: column;
        align-items: center;
        a {
          color: $secondaryColor;
          margin-top: 0.5rem;
        }
      }
    }
    .btn__con {
      width: 90%;
      margin-top: 3rem;
      justify-content: space-between;
      button {
        width: 40%;
        border-radius: 20px;
      }
    }
  }
}
