@import "../../../style/variable.scss";
.Profile {
  width: 100%;
  @include mobile {
    padding: 1rem 2rem;
  }
  @include tablet {
    width: 60%;
    padding-left: 4rem;
  }
  .title {
    font-weight: 900;
    line-height: 2;
  }
  .small-title {
    font-size: 14px;
    @include tablet {
      font-size: 16px;
    }
  }
  .profile__content {
    margin-top: 2rem;
    @include tablet {
      margin-top: 1.5rem;
    }
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
      @include tablet {
        width: 120px;
        height: 120px;
      }
    }
    .small-title {
      line-height: 2;
    }
    .name {
      font-weight: 900;
    }
    .profile__box {
      width: 100%;
      align-items: center;
      &:first-of-type {
        margin-top: 1rem;
        @include tablet {
          margin-top: 0.5rem;
        }
      }
      .p-text {
        width: 40%;
        font-size: 14px;
      }
      @include tablet {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        .p-text {
          width: 40%;
          font-size: 14px;
        }
        .name {
          font-weight: 700;
          line-height: 3;
          font-size: 30px;
        }
        .small-title {
          width: 60%;
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
  }
}
