@import "../../style/variable.scss";
.success__signup {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 30;
  transform: translate(-50%, -50%);
  .success__signup-inner {
    flex-direction: column;
    align-items: center;
    width: 80%;
    box-shadow: 2px 4px 5px 1px #111;
    -webkit-box-shadow: 2px 4px 5px 1px #111;
    -moz-box-shadow: 2px 4px 5px 1px #111;
    background-color: #fff;
    padding: 2rem 1rem;
    border-radius: 10px;
    @include tablet {
      width: 30%;
    }
    img {
      width: 50%;
      @include tablet {
        width: 30%;
      }
    }
    .bold-text {
      line-height: 1.4;
      font-size: $font-12;
      text-align: center;
      margin-top: 15px;
      @include tablet {
        font-size: $font-16;
      }
    }
    .p-text {
      font-size: $font-10;
      text-align: center;
      margin-top: 15px;
      @include tablet {
        font-size: $font-14;
      }
    }
    button {
      margin-top: 35px;
      @include tablet {
        width: 50%;
      }
    }
  }
}
