@import "../../../style/variable.scss";
.secondTab.driver {
  height: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  .form-bold {
    font-size: 20px;
    width: 100%;
  }
  .small-title {
    font-weight: 300;
  }
  @include tablet {
    width: 50%;
    .form-bold {
      font-weight: 700;
      font-size: 18px;
    }
    .small-title {
      width: 80%;
      font-weight: 300;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .form-text {
    width: 100%;
    text-align: left;
    margin-top: 0.5rem;
    @include tablet {
      width: 100%;
    }
  }
  .input__container {
    width: 100% !important ;
    margin-top: 2rem;
    @include tablet {
      width: 60%;
      .form-text {
        font-weight: 700;
        font-size: 18px;
      }
      input {
        border-radius: 10px;
        padding: 0.5rem 1rem;
      }
    }
  }
  button {
    width: 70%;
    margin-top: 2rem;
    @include tablet {
      width: 55%;
    }
  }
  .license-text {
    margin-top: 1rem;
  }
}
