@import "../../style/variable.scss";
.learning__box-con {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .learning__box {
    width: 100%;
    padding: 1.5rem 0.5rem;
    border-radius: 10px;
    margin-top: 0.5rem;
    .img__con {
      width: 60px;
      height: 60px;
      background-color: $primaryColor;
      border-radius: 50%;
      margin-right: 10px;
    }
    .learning__content {
      width: 100%;
      .progress {
        margin-top: 0.5rem;
        height: 5px;
        width: 100%;
        border-radius: 20px;
        background-color: $boxShadow;
      }
      .status {
        width: 100%;
        text-align: right;
      }
    }
  }
}
