@import '../../style/variable.scss';
.Charges__container{
    width: 85%;
    box-shadow: 2px 4px 5px 1px #F3f3f3;
    -webkit-box-shadow: 2px 4px 5px 1px #F3f3f3;
    -moz-box-shadow: 2px 4px 5px 1px #F3f3f3;
    @media screen and (min-width: 768px) {
        margin-top: 4rem;
        width: 50%;
    }
    img{
        width: 40%;
        margin-right: 5px;
    }
    .charges__content{
        flex: 1;
        h6{
            font-size: $font-12;
            font-weight: 900;
            text-align: center;
            @media screen and (min-width: 768px) {
                font-size: $font-16;
            }
        }
        p{
            font-size: $font-12;
            text-align: center;
            margin-top: 5px;
            @media screen and (min-width: 768px) {
                font-size: $font-14;
            }
        }
    }
}