@import "../../style/variable.scss";
.Charges__container {
  width: 95%;
  padding: 0.5rem;
  box-shadow: 2px 4px 5px 1px #f3f3f3;
  -webkit-box-shadow: 2px 4px 5px 1px #f3f3f3;
  -moz-box-shadow: 2px 4px 5px 1px #f3f3f3;
  margin-top: 3rem;
  border-radius: 5px;
  @include tablet {
    margin-top: 2rem;
    width: 70%;
    justify-content: center;
  }
  img {
    width: 25%;
    margin-right: 5px;
  }
  .charges__content {
    width: 50%;
    .badge-title {
      text-align: center;
      @include tablet {
        font-size: $font-24;
      }
    }
    p {
      text-align: center;
      margin-top: 5px;
      @include tablet {
        font-size: $font-16;
        padding: 0.5rem 4rem;
      }
    }
  }
}
