@import "../../style/variable.scss";
.ourservice__container {
  width: 95%;
  padding: 0.5rem;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  @include tablet {
    width: 70%;
  }
  h3 {
    text-align: center;
    @include tablet {
      margin-top: 4rem;
      font-size: $font-30;
    }
    span {
      color: $secondaryColor;
      margin-right: 10px;
    }
  }
  .ourservice__inner-container {
    flex-direction: column;
    row-gap: 20px;
    margin-top: 20px;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
    .ourservice__box {
      justify-content: space-between;
      align-items: center;
      &:last-child {
        flex-direction: row-reverse;
      }
      @include tablet {
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        width: 45%;
      }

      .service__img-ellis {
        width: 44%;
        height: 140px;
        border-radius: 70%;
        background-color: $secondaryColor;
        @include tablet {
          width: 30%;
          height: 140px;
        }

        img {
          width: 100%;
          height: 130px;
          border: 1px solid $whiteColor;
          border-radius: 50%;
          object-fit: cover;
          @include tablet {
            height: 130px;
          }
        }
      }

      .service__content {
        width: 50%;
        @include tablet {
          width: 45%;
        }
        h4 {
          font-weight: 700;
        }
        p {
          margin-top: 5px;
          text-align: left;
        }
        button {
          font-weight: 700;
          @include tablet {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
