@import "../../../style/variable.scss";
.input__container {
  width: 100%;
  margin-top: 15px;
  align-items: flex-start;
  flex-direction: column;
  @include tablet {
    width: 45%;
  }
  p {
    margin-right: 5px;
    margin-bottom: 10px;
  }
  input {
    border: none;
    height: 45px;
    width: 100%;
    background-color: #f3f3f3;
    padding-left: 10px;
    &:focus {
      outline: none;
    }
  }
}
