@import "../../../../style/variable.scss";
.RecentActivities {
  background-color: $asheColor;
  padding: 1rem 0;
  border-radius: 10px;
  @include mobile {
    margin-top: 1rem;
    width: 170%;
  }
  @include tablet {
    width: 100%;
    margin-top: 2rem;
  }
  .col__title {
    justify-content: space-between;
    padding: 0.3rem 0;
    .p-text {
      font-weight: 400;
      font-size: calc(13px + 6 * ((100vw - 320px) / 680));
      text-align: center;
      @include tablet {
        font-size: calc(8px + 6 * ((100vw - 320px) / 680));
      }
    }
    .col-4 {
      text-align: center;
    }
  }

  .col-1 {
    width: 25%;
    text-align: left;
    @include tablet {
      width: calc(100px + 6 * ((100vw - 320px) / 680));
      max-width: calc(100px + 6 * ((100vw - 320px) / 680));
      min-width: calc(80px + 6 * ((100vw - 320px) / 680));
    }
  }
  .col-2 {
    width: 25%;
    text-align: left;
    @include tablet {
      width: calc(170px + 6 * ((100vw - 320px) / 680));
      max-width: calc(175px + 6 * ((100vw - 320px) / 680));
      min-width: calc(140px + 6 * ((100vw - 320px) / 680));
    }
  }
  .col-3 {
    width: 25%;
    text-align: center;
    @include tablet {
      width: calc(170px + 6 * ((100vw - 320px) / 680));
      max-width: calc(175px + 6 * ((100vw - 320px) / 680));
      min-width: calc(120px + 6 * ((100vw - 320px) / 680));
    }
  }
  .col-4 {
    width: 18%;
    text-align: center;
  }
  .recent__box {
    justify-content: space-between;
    padding: 0.3rem 0.3rem;
    font-weight: 500;
    @include mobile {
      margin: 0.5rem 0;
    }
    .p-text {
      font-size: 14px;
      font-weight: 500;
      font-size: calc(12px + 6 * ((100vw - 320px) / 680));
      text-align: left;
      @include tablet {
        font-weight: 300;
        padding: 0.4rem 0;
        font-size: calc(5px + 6 * ((100vw - 320px) / 680));
      }
      &:last-child {
        text-align: center;
      }
    }
  }
}
