@import "../../../../style/variable.scss";
.FirstTab {
  width: 100%;
  @include mobile {
    flex-direction: column;
    width: 100vw;
    align-items: center;
  }
  .left__content {
    width: 100%;
    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    @include tablet {
      width: 75%;
    }
    .badge__con {
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
  .graph__group {
    justify-content: space-between;
    margin-top: 2rem;
    display: flex;
    gap: 20px;
    @include mobile {
      flex-direction: column;
      margin-top: 1rem;
      width: 95%;
    }
    .graph__con {
      width: 60%;
      @include mobile {
        width: 100%;
        overflow: scroll;
      }
      .chart {
        width: 100%;
        height: 100%;
        background-color: #f3f3f3;
        border-radius: 10px;
        overflow: hidden;
        div {
          border-radius: 10px;
        }
        @include mobile {
          width: 120%;
        }
      }
    }
    .recent__ride {
      width: 39%;
      min-height: 200px;
      background-color: #f3f3f3;
      border-radius: 10px;
      @include mobile {
        margin-top: 1rem;
        width: 100%;
      }
      .title {
        text-align: center;
      }
    }
  }
  .recent-booking-text {
    line-height: 4rem;
    @include mobile {
      margin-top: 1rem;
      line-height: 1.5rem;
    }
  }
  .scroll__container {
    @include mobile {
      width: 100%;
      overflow: scroll;
    }
  }
  .recent__booking {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 10px;
    display: block;
    @include mobile {
      width: 190%;
    }
    @media screen and (min-width: 768px) {
    }
  }
  .chart__group {
    flex: 1;
    flex-direction: column;
    margin-left: 1rem;
    row-gap: 20px;
    margin-top: 1rem;
    @include mobile {
      width: 90%;
      margin-left: 0;
    }
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }
}
