@import "../../../style/variable.scss";
.fleetDashboard {
  padding: 1rem;
  .p-text {
    font-weight: 500;
  }
  .fleet__wrapper {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    .top__sec {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}
