@import "../../../style/variable.scss";
.Compensation {
  width: 95%;
  padding: 1rem 0.5rem 0;
  @include tablet {
    .RiderInvoice__wrapper {
      width: 90%;
    }
  }
  .col-1 {
    width: 15%;
    text-align: left;
  }
  .col-2 {
    width: 60%;
    text-align: center;
  }
  .col-3 {
    width: 15%;
    text-align: center;
  }
  .col-4 {
    width: 10%;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
  }
  .files__con {
    width: 100%;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    .file__header {
      margin-top: 1rem;
      width: 150%;
      height: 50px;
      background-color: $asheColor;
      align-items: center;
      border-radius: 10px;
      justify-content: space-between;
      @include tablet {
        padding: 1rem;
        width: 100%;
      }
      .bold-text {
        text-align: center;
        text-overflow: hidden;
        font-size: 14px;
        &:first-of-type {
          text-align: left;
        }
        @include tablet {
          font-size: 16px;
        }
      }
    }
    .file__box-con {
      margin-top: 0.5rem;
      width: 150%;
      @include tablet {
        width: 100%;
      }
      .file__box {
        justify-content: space-between;
        padding: 0.8rem 0.2rem;
        margin: 0.3rem 0;
        border-bottom: 2px solid $asheColor;
        @include tablet {
          text-align: center;
          padding: 1rem;
        }
        .pdf {
          color: $secondaryColor;
          cursor: pointer;
          font-weight: 900;
        }
      }
      .p-text {
        font-size: 12px;
        @include tablet {
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }
}
