@import "../../style/variable.scss";
.form_sign {
  margin-top: 30px;
  width: 100%;
  @include tablet {
    margin-top: 5px;
  }
  .input_group {
    flex-direction: column;
    width: 100%;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin-top: 15px;
    }
  }
  button {
    width: 50%;
    margin: 0 auto;
    margin-top: 3rem;
  }
}
