@import "../../style/variable.scss";
.info__container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: Rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  @include tablet {
    background-color: Rgba(0, 0, 0, 0.3);
    align-items: flex-start;
    justify-content: flex-end;
  }
  .info__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: auto;
    background-color: $whiteColor;
    border-radius: 10px;
    padding: 1rem 0;
    @include tablet {
      width: 28%;
      margin-top: 2rem;
      margin-right: 2rem;
    }
    .icon {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      svg {
        margin-right: 2rem;
        font-size: 24px;
      }
    }
    .info__img {
      width: 150px;
      height: 150px;
      @include tablet {
        width: 100px;
        height: 100px;
      }
      img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .name {
      margin-top: 1rem;
      @include tablet {
        margin-top: 0.5rem;
      }
    }
    .text {
      font-size: $font-18;
      @include tablet {
        font-size: $font-14;
      }
    }
    .review__container {
      margin-top: 2rem;
      flex-direction: column;
      align-items: center;
      @include tablet {
        margin-top: 1rem;
      }
      .small-title {
        font-size: $font-18;
        margin-bottom: 0.5rem;
        @include tablet {
          font-size: $font-14;
        }
      }
    }
    .basic__info {
      width: 95%;
      margin-top: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include tablet {
        width: 70%;
        margin-top: 1.5rem;
      }
      .small-title {
        font-weight: 500;
        font-size: $font-20;
        @include tablet {
          font-size: $font-16;
        }
      }
      .info__details {
        width: 100%;
        margin-top: 0.5rem;
        .box {
          display: flex;
          margin: 0.4rem 0;
          .detail-title {
            font-weight: 700;
            width: 40%;
          }
          .p-text {
            @include tablet {
              font-size: $font-14;
            }
          }
        }
      }
    }
  }
}
