@import '../../../style/variable.scss';
.InterP{
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    .tab__wrapper{
        width: 95%;
        align-items: center;
        flex-direction: column;
        @include mobile{
            margin-top: 2rem;
        }
        @include tablet {
            width: 60%;
        }
        .tab-title{
            color: $primaryColor;
            span{
                color: $secondaryColor;
            }
        }
        .tab__controllers{
            margin-top: 1rem;
            width: 50%;
            justify-content: space-between;
            @include tablet {
                width: 30%;
            }
            .tab-controller{
                height: 5px;
                width: 23%;
                background-color: #f3f3f3;
            }
            .active{
                background-color: $secondaryColor;
            }
        }
    }
}