@import "../../style/variable.scss";
.SuccessNewpwd {
  position: absolute;
  top: 10rem;
  left: 0;
  width: 100%;
  z-index: 25;
  .SuccessNewpwd__inner {
    flex-direction: column;
    background-color: #fff;
    padding: 3rem 1rem;
    border-radius: 10px;
    width: 80%;
    @include tablet {
      width: 30%;
      padding: 3rem 0;
    }
    img {
      width: 40%;
      @include tablet {
        width: 20%;
      }
    }
    .form-text {
      margin-top: 1rem;
    }
    button {
      width: 90%;
      margin-top: 2rem;
      @include tablet {
        width: 60%;
      }
    }
  }
}
