@import "../../../../style/variable.scss";
.Vehicle {
  padding: 0rem 1rem;
  @include tablet {
    padding: 1rem 0.5rem;
  }
  .control__con {
    width: 100%;
    @include tablet {
      width: 95%;
    }
    .control__box-con {
      margin-top: 1.5rem;
      width: 100%;
      @include tablet {
        width: 60%;
        margin-top: 1rem;
      }
      .box__header {
        padding: 0.8rem 0.5rem;
        width: 100%;
        justify-content: space-between;
        border-bottom: 2px solid #c9c7c7;
      }
      .control__box {
        justify-content: space-between;
        border-bottom: 1px solid #c9c7c7;
        padding: 0.5rem 0;
        &:last-of-type {
          border-bottom: none;
        }
        .control {
          padding: 0.5rem 0.8rem;
          &:first-of-type {
            color: $secondaryColor;
            cursor: pointer;
          }
        }
      }
    }
  }
  .vehicle__documents {
    margin-top: 2rem;
    @include tablet {
      width: 75%;
    }
  }
  .details__con {
    width: 100%;
    @include tablet {
      width: 95%;
      padding: 1rem 0;
    }
    .details__properties {
      width: 100%;
      align-items: center;
      flex-direction: column;

      @include tablet {
        width: 60%;
      }
      .detail {
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 0;
        padding: 0.5rem 0.8rem;
        border-bottom: 2px solid #f3f3f3;
        &:last-of-type {
          border-bottom: none;
        }
        @include tablet {
          padding: 0.5rem 0.8rem;
        }
        .bold-text {
          width: 60%;
        }
        .p-text {
          width: 20%;
          text-align: right;
          @include tablet {
            width: 35%;
          }
        }
      }
    }
    .doc__box {
      margin: 15px 0;
      background-color: #f3f3f3;
      border-radius: 10px;
      padding: 1rem;
      .expired__error {
        padding: 0.8rem;
        background-color: red;
        color: $whiteColor;
        border-radius: 10px;
        margin-bottom: 0.5rem;
      }
      .title {
        line-height: 1.5;
        @include tablet {
          font-size: $font-24;
        }
      }
      .require {
        color: red;
        width: 100%;
        text-align: right;
        font-size: 12px;
      }
      .left__con {
        width: 69%;
        @include tablet {
          width: 70%;
        }
      }
      .doc__content {
        width: 100%;
        margin-top: 1.5rem;
        justify-content: space-between;
        @include tablet {
          width: 100%;
        }
        .p-text {
          line-height: 1.5;
          font-size: 12px;
          @include tablet {
            font-size: $font-14;
          }
        }
        .doc__icon {
          align-items: center;
          margin-top: 0.5rem;
          svg {
            width: 10%;
            margin-right: 3px;
            font-size: 20px;
            margin-left: -5px;
            @include tablet {
              font-size: $font-14;
              margin-left: -8px;
              width: 5%;
            }
          }
        }
      }
      .right__con {
        width: 31%;
        align-items: flex-end;
        justify-content: flex-end;
        @include tablet {
          width: auto;
        }
        input[type="file"] {
          display: none;
        }
        .custom-upload {
          background-color: $secondaryColor;
          padding: 0.5rem;
          color: $whiteColor;
          border-radius: 10px;
          svg {
            margin-right: 5px;
            font-size: 16px;
            font-weight: 700;
          }
        }
      }
    }
  }
}
