@import '../../style/variable.scss';

.userTask__container{
    width: 95%;
    padding: 2rem .5rem;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    z-index: 100;
    top: -50px;
    left: 0;

    row-gap: 20px;
    flex-wrap: wrap;
    box-shadow: 7px 7px 5px 0px $boxShadow;
    -webkit-box-shadow: 7px 7px 5px 0px $boxShadow;
    -moz-box-shadow: 7px 7px 5px 0px $boxShadow;
    @media screen and (min-width: 768px) {
        flex-direction: row;
        width: 80%;
        justify-content: space-around;
    }
    .task__box{
        width: 80%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: .5rem;
        @media screen and (min-width: 768px) {
            width: 25%;
        }
        .task__img-box{
            width: 70%;
            height: 100px;
            padding: 1rem;
            overflow: hidden;
            @media screen and (min-width: 768px) {
                width: 33%
                
            }
            img{
                width: 100%;
                object-fit: cover;
            }
        }
        .box-1{
            @media screen and (min-width: 768px) {
                width: 70%;
                
            }
        }
        .box-2{
            width: 40%;
            @media screen and (min-width: 768px) {
                width: 40%;
                
            }
        }
        .box-3{
            width: 34%;
            @media screen and (min-width: 768px) {
                width: 35%;
                
            }
        }
        h3{
            color: $secondaryColor;
            font-size: $font-16;
            line-height: 3;
            font-weight: 900;
            text-align: center;
        }
        p{
            color: $primaryColor;
            font-weight: 300;
            font-size: $font-16;
            text-align: center;
            font-weight: 500;
            @media screen and (min-width: 768px) {
                font-weight: 500;
            }
        }
    }
}