@import "../../style/variable.scss";

.userTask__container {
  width: 95%;
  padding: 2rem 0.5rem;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  z-index: 100;
  top: -50px;
  left: 0;
  row-gap: 20px;
  flex-wrap: wrap;
  @include tablet {
    flex-direction: row;
    width: 70%;
    justify-content: space-around;
  }
  .task__box {
    width: 80%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
    @include tablet {
      width: 25%;
    }
    .task__img-box {
      width: 70%;
      height: 100px;
      min-height: 100px;
      max-height: 100px;
      padding: 1rem;
      overflow: hidden;
      @include tablet {
        width: 33%;
      }
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    .box-1 {
      @include tablet {
        width: 70%;
      }
    }
    .box-2 {
      width: 40%;
      @include tablet {
        width: 40%;
      }
    }
    .box-3 {
      width: 31%;
      @include tablet {
        width: 34%;
        display: flex;
        align-items: center;
        img {
          margin-top: 20px;
          width: 80%;
        }
      }
    }
    h3 {
      color: $secondaryColor;
      font-size: $font-16;
      line-height: 3;
      font-weight: 900;
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
}
