@import "../../../style/variable.scss";
.chart__con {
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 10px;
  padding: 1rem 0;
  @include mobile {
    padding: 1rem 1rem;
  }
  .chart__box {
    padding: 0.5rem 0.3rem;
    .col-1 {
      position: relative;
      width: 20%;
      margin-right: 10px;
      @include mobile {
        width: 18%;
      }
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        @include tablet {
          width: 40px;
          height: 40px;
        }
      }
      .dot {
        position: absolute;
        right: 7px;
        top: 0px;
        height: 7px;
        width: 7px;
        border-radius: 50%;
        background-color: #3ab54a;
        @include mobile {
          top: 5px;
          right: 8px;
        }
      }
    }
    .col-2 {
      flex: 1;
      text-align: left;
      font-size: 12px;
      .small-title {
        font-size: 12px;
      }
    }
    .col-3 {
      font-size: 12px;
    }
  }
  .title {
    line-height: 1.5;
  }
}
