@import "../../style/variable.scss";
.Invoice {
  width: 95%;
  margin: 1rem;
  .invoice__wrapper {
    .invoice__con {
      margin-top: 0.5rem;
      padding: 0.5rem 0;
      overflow: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
      .file__header {
        height: 50px;
        background-color: $asheColor;
        align-items: center;
        border-radius: 10px;
        justify-content: space-between;
        width: 200%;
        @include tablet {
          width: 100%;
        }
        @include medium {
          width: 150%;
        }

        .bold-text {
          text-align: center;
          text-overflow: hidden;
          font-size: calc(10px + 6 * ((100vw - 320px) / 680));
          &:first-of-type {
            text-align: left;
            padding-left: 5px;
          }
          @include tablet {
            font-size: 16px;
            font-size: calc(8px + 6 * ((100vw - 320px) / 680));
          }
        }
      }
      .file__box-con {
        margin-top: 0.5rem;
        .box__container {
          width: 200%;
          @include tablet {
            width: 100%;
          }
          @include medium {
            width: 150%;
          }
        }
      }
    }
    .data__box {
      justify-content: space-between;
      padding: 0.5rem 0;
      border-bottom: 2px solid rgb(211, 211, 211);
      &:last-of-type {
        border-bottom: none;
      }
      @include tablet {
        padding: 1rem 0;
      }
      .pdf {
        color: $secondaryColor;
      }
      .p-text {
        font-size: 12px;
        font-size: calc(10px + 6 * ((100vw - 320px) / 680));
        &:last-of-type {
          text-align: center;
        }
        @include tablet {
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }
}
