@import "../../../style/variable.scss";
.GetHelp {
  width: 100%;
  margin: 1rem;
  @include mobile {
    padding: 1rem 0 0 2rem;
    max-width: 400px;
    min-width: 390px;
  }
  .small-title {
    margin-top: 2rem;
    @include mobile {
      margin-top: 1rem;
    }
  }
}
