@import "../../../../../style/variable.scss";
.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.modal__box {
  width: 40%;
  background-color: $whiteColor;
  padding: 1rem 3rem;
  border-radius: 10px;
  @include mobile {
    padding: 1rem;
  }
  .title {
    margin-bottom: 1rem;
  }
  .modal__content {
    padding: 0.5rem 1rem;
    font-size: $font-14;
    font-weight: 500;
    text-align: center;
  }

  .subtitle {
    text-align: center;
    line-height: 3;
    font-size: 18px;
  }
  .divider {
    width: 100%;
    height: 2px;
    background-color: $asheColor;
    border-radius: 20px;
  }
  .feedback {
    .title {
      text-align: center;
      margin-top: 0.5rem;
    }
    .feedback__btn-con {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 1rem;
      column-gap: 5rem;
      margin-top: 1rem;
      button {
        background-color: transparent;
        padding: 0.7rem 1.5rem;
        border: 1px solid $primaryColor;
        border-radius: 10px;
      }
    }
  }
  ul {
    padding: 0.4rem 1.2rem;
    .modal__content {
      text-align: left;
      padding: 0.2rem 0;
    }
  }
}
