@import "../../../../style/variable.scss";
.Setting {
  width: 95%;
  padding: 0 1rem;
  @include tablet {
    padding: 1rem 0.5rem;
  }
  .setting__wrapper {
    width: 100%;
    @include tablet {
      width: 70%;
    }
    .tabs__con {
      .tab-btn {
        padding: 0.5rem 0.5rem;
        border-radius: 10px;
        border: 1px solid #111;
        margin: 0.5rem 0.2rem;
        background-color: $whiteColor;
        @include tablet {
          padding: 0.5rem 1.5rem;
          font-size: 16px;
        }
      }
      .active {
        background-color: $secondaryColor;
        color: $whiteColor;
      }
    }
  }
}
