@import "../../../style/variable.scss";
.Invoice {
  width: 95%;
  @include mobile {
    padding: 1rem;
  }
  .invoice__wrapper {
    width: 100%;
    @include tablet {
      width: 70%;
    }
    .col-1 {
      width: 25%;
      text-align: left;
    }
    .col-2 {
      width: 15%;
    }
    .col-3 {
      width: 20%;
    }
    .col-4 {
      width: 25%;
      text-overflow: ellipsis;
    }
    .col-5 {
      width: 10%;
    }
    .invoice__con {
      margin-top: 1.2rem;
      padding: 0.5rem;
      overflow: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
      .file__header {
        width: 200%;
        height: 50px;
        padding: 0.5rem;
        background-color: $asheColor;
        align-items: center;
        border-radius: 10px;
        justify-content: space-between;
        @include tablet {
          padding: 1rem;
          width: 100%;
        }
        .bold-text {
          text-align: center;
          text-overflow: hidden;
          font-size: 14px;
          &:first-of-type {
            text-align: left;
          }
          @include tablet {
            font-size: 16px;
          }
        }
      }
      .file__box-con {
        margin-top: 0.5rem;
      }
    }
  }
}
