@import "../../../../style/variable.scss";
.SecondTab {
  width: 100%;
  @include mobile {
    padding: 0 1rem;
    max-width: 500px;
  }
  @include tablet {
    width: 60%;
    margin: 1rem;
  }
  .title {
    font-weight: 900;
    line-height: 2;
    font-size: calc(14px + 6 * ((100vw - 768px) / 680));
    @include tablet {
      font-size: calc(17px + 6 * ((100vw - 768px) / 680));
    }
  }
  .small-title {
    font-size: calc(14px + 6 * ((100vw - 768px) / 680));
    @include tablet {
      font-size: calc(10px + 6 * ((100vw - 768px) / 680));
    }
  }
  .profile__content {
    margin-top: 2rem;
    @include tablet {
      margin-top: 1.5rem;
    }
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
      @include tablet {
        width: 120px;
        height: 120px;
      }
    }
    .small-title {
      line-height: 2;
      font-size: calc(15px + 6 * ((100vw - 768px) / 680));
      @include tablet {
        font-size: calc(12px + 6 * ((100vw - 768px) / 680));
      }
    }
    .name {
      font-weight: 700;
    }
    .profile__box {
      align-items: center;
      margin-top: 0.5rem;
      &:first-of-type {
        margin-top: 1.5rem;
        @include tablet {
          margin-top: 1.5rem;
        }
      }
      .p-text {
        width: 40%;
        font-size: calc(17px + 6 * ((100vw - 768px) / 680));
      }
      @include tablet {
        justify-content: space-between;
        align-items: center;
        .p-text {
          width: 40%;
          font-size: calc(12px + 6 * ((100vw - 768px) / 680));
        }
        .name {
          font-weight: 700;
          line-height: 3;
          font-size: 30px;
          font-size: calc(15px + 6 * ((100vw - 768px) / 680));
        }
        .small-title {
          width: 60%;
          font-weight: 400;
          font-size: calc(10px + 6 * ((100vw - 768px) / 680));
        }
      }
    }
  }
}
