@import "../../../../style/variable.scss";
.Payout {
  width: 95%;
  padding: 0 1rem;
  max-width: 500px;
  @include tablet {
    padding: 1rem 0.5rem;
    max-width: none;
  }
  .payout__wrapper {
    width: 100%;
    @include tablet {
      width: 70%;
    }
    .small-title {
      margin-top: 5px;
      font-size: calc(12px + 6 * ((100vw - 320px) / 680));
      @include tablet {
        font-size: calc(12px + 6 * ((100vw - 768px) / 680));
      }
    }
    .payout__con {
      margin-top: 1.5rem;
      .payout__header {
        width: 100%;
        height: 40px;
        padding: 0.5rem 1rem;
        background-color: $asheColor;
        align-items: center;
        border-radius: 10px;
        justify-content: space-between;
      }
      .payout__box-con {
        margin-top: 0.5rem;
        .box__container {
          .data__box {
            padding: 0.75rem;
            .col-1 {
              width: 50%;
            }
            .col-2 {
              text-align: right;
              width: 50%;
            }
          }
        }
      }
    }
  }
}
