@import "../../../../style/variable.scss";
.Payout {
  width: 95%;
  padding: 0 1rem;
  @include tablet {
    padding: 1rem 0.5rem;
  }
  .payout__wrapper {
    width: 100%;
    @include tablet {
      width: 70%;
    }
    .payout__con {
      margin-top: 1.5rem;
      .payout__header {
        width: 100%;
        height: 40px;
        padding: 0.5rem;
        background-color: $asheColor;
        align-items: center;
        border-radius: 10px;
        justify-content: space-between;
      }
      .payout__box-con {
        margin-top: 0.5rem;
      }
    }
  }
}
