@import "../../style/variable.scss";
.DriverDB {
  padding: 1rem 0 2rem;
  .DriverDB__content {
    margin-top: 4rem;
    display: flex;
    width: 100%;
    margin: 0 auto;

    .tab__container {
      flex: 1;
      margin: 4rem 0 0;
      @include tablet {
        margin-top: 3rem;
        padding: 1rem 0.5rem;
      }
    }
  }
}
