@import "../../../style/variable.scss";
.Upcoming {
  width: 100%;
  padding: 1rem;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
  @include mobile {
    width: 250%;
    max-width: 1300px;
  }
  .col__title {
    justify-content: space-between;
    margin-bottom: 1.5rem;
    .p-text {
      text-align: center;
      font-weight: 500;
      font-size: $font-14;
      @include tablet {
        font-weight: 700;
        font-size: calc(8px + 6 * ((100vw - 320px) / 680));
      }
    }

    .col-3 {
      text-align: center;
    }
  }
  .col-1 {
    width: 25%;
    @include mobile {
      width: calc(230px + 6 * ((100vw - 320px) / 680));
      max-width: calc(240px + 6 * ((100vw - 320px) / 680));
    }
  }
  .col-2 {
    width: 10%;
    text-align: center;
  }
  .col-3 {
    width: 33%;
    text-align: center;

    @include tablet {
      padding-left: 5px;
      width: calc(260px + 6 * ((100vw - 768px) / 680));
      max-width: calc(300px + 6 * ((100vw - 768px) / 680));
      min-width: calc(200px + 6 * ((100vw - 768px) / 680));
    }
  }
  .col-4 {
    width: 15%;
    text-align: center;
    font-weight: 300;
  }
  .col-5 {
    width: 15%;
    text-align: right;
    @include tablet {
      width: 23%;
    }
  }
  .trip__box {
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 1rem;
    margin: 0.2rem 0;
    .p-text {
      font-size: 12px;
      font-weight: 300;
      @include tablet {
        font-size: $font-14;
        font-weight: 300;
      }
    }
    .col-1 {
      display: flex;
      align-items: center;
    }
    .col-3 {
      .location__icon {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-right: 0.5rem;
        svg {
          color: $secondaryColor;
          font-size: $font-18;
        }
        span {
          height: 2px;
          width: 2px;
          background-color: $secondaryColor;
        }
        .location__box {
          width: 12px;
          height: 8px;
          background-color: $primaryColor;
        }
      }
      .col__content-3 {
        flex: 1;
        .pickUp,
        .destination {
          justify-content: space-between;
          .address {
            text-align: left;
            width: calc(250px + 6 * ((100vw - 320px) / 680));
            max-width: calc(300px + 6 * ((100vw - 320px) / 680));
            min-width: calc(170px + 6 * ((100vw - 320px) / 680));
            @include tablet {
              padding-left: 5px;
              font-weight: 300;
              font-size: calc(10px + 6 * ((100vw - 768px) / 680));
              width: calc(190px + 6 * ((100vw - 768px) / 680));
              min-width: calc(170px + 6 * ((100vw - 768px) / 680));
            }
          }
        }
        .destination {
          margin-top: 0.5rem;
        }
      }
    }
    .img__con {
      width: 50px;
      margin-right: 15px;
      height: 50px;
      border-radius: 50%;
      @include tablet {
        height: 60px;
        width: 60px;
        min-height: 45px;
        min-width: 45px;
      }
      img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        min-height: 40px;
        min-width: 40px;
        object-fit: cover;
      }
    }
    .sm-text {
      @include tablet {
        font-size: calc(5px + 6 * ((100vw - 320px) / 680));
        font-weight: 300;
        text-align: right;
      }
    }
    .user__name-rating {
      .name {
        font-size: calc(12px + 6 * ((100vw - 320px) / 680));
        @include tablet {
          font-size: calc(6px + 6 * ((100vw - 320px) / 680));
        }
      }
    }
  }
}
