@import "../../../style/variable.scss";
.Upcoming {
  width: 100%;
  padding: 1rem;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
  @include mobile {
    width: 250%;
  }
  .col__title {
    justify-content: space-between;
    margin-bottom: 1.5rem;
    .p-text {
      text-align: center;
      font-weight: 500;
      font-size: $font-14;
      @include tablet {
        font-weight: 700;
        font-size: $font-16;
      }
    }

    .col-3 {
      text-align: center;
    }
  }
  .col-1 {
    width: 25%;
  }
  .col-2 {
    width: 10%;
    text-align: center;
  }
  .col-3 {
    width: 25%;
    text-align: center;
  }
  .col-4 {
    width: 10%;
    text-align: center;
  }
  .col-5 {
    width: 23%;
    text-align: center;
  }
  .trip__box {
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 1rem;
    margin: 0.2rem 0;
    .p-text {
      font-size: 12px;
      font-weight: 500;
      @include tablet {
        font-size: $font-14;
        font-weight: 500;
      }
    }
    .col-1 {
      display: flex;
      align-items: center;
    }
    .col-3 {
      .location__icon {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-right: 0.5rem;
        svg {
          color: $secondaryColor;
          font-size: $font-18;
        }
        span {
          height: 2px;
          width: 2px;
          background-color: $secondaryColor;
        }
        .location__box {
          width: 12px;
          height: 8px;
          background-color: $primaryColor;
        }
      }
      .col__content-3 {
        flex: 1;
        .pickUp,
        .destination {
          justify-content: space-between;
        }
        .destination {
          margin-top: 0.5rem;
        }
      }
    }
    .img__con {
      width: 50px;
      margin-right: 15px;
      height: 50px;
      border-radius: 50%;
      @include tablet {
        height: 60px;
        width: 60px;
      }
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .sm-text {
      @include tablet {
        font-size: $font-14;
        font-weight: 300;
      }
    }
  }
}
