@import "../../style/variable.scss";
.bg__con {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  .bg__white {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
      ),
      url("../../asset/image/bg__svg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .bg__clip {
    position: absolute;
    left: 70;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: #fff;
    clip-path: polygon(0% 0%, 76% 0%, 92% 100%, 0% 100%);
    @include tablet {
      clip-path: polygon(0% 0%, 60% 0%, 83% 100%, 1% 100%, 0% 100%);
    }
  }
}
